.data-view-container {
    display: flex;
    gap: 2em;
}

/* блок с аватаркой и функционалом */
#avatar-space {
    flex: 1 0;
    align-self: flex-start;
    box-shadow: 0 10px 26px 1px rgba(0, 0, 0, 0.1);
    border-radius: 2em;
}

#avatar-space img {
    border-radius: 50%;
}

/* данные пользователя */
#main-dataset {
    flex: 3 0;
}

#main-dataset h2 {
    margin-bottom: 0;
}

/* единица данных пользователя */
.profile-block {
    padding: 1em 0;
}


/* контакты */
.profile-connect {
    display: flex;
}

.profile-connect::before {
    content: '';
    width: 1em;
    height: 1em;
    margin: auto 1em auto 0;

    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.profile-connect#profile-email::before {
    background-image: url('../img/mail.svg');
}

.profile-connect#profile-phone::before {
    background-image: url('../img/phone.svg');
}

.connect-link {
    color: slateblue;
}

/* интересы */
#profile-interests-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.profile-interest-name {
    padding: 0.5em 1em;
    background-color: rgba(143, 188, 143, 0.5);
    border-radius: 1em;
}

#profile-links-list {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    transition: 1s;
}

.profile-link {
    display: flex;
    align-items: center;
    padding: 1em;
    background-color: gainsboro;
    border-radius: 1em;
    color: inherit;

    transition: 0.5s;
}

.profile-link:hover {
    background-color: rgba(220, 220, 220, 0.5);
}

.link-icon {
    flex-shrink: 0;
    width: 2em;
    height: 2em;
    margin-right: 2em;
}

@media (max-width: 1140px) {
    .account-content-wrapper {
        max-width: 992px;
    }
}

@media (max-width: 992px) {
    .account-content-wrapper {
        max-width: 768px;
    }
}

@media (max-width: 768px) {
    .account-content-wrapper {
        max-width: 576px;
        flex-direction: column;
    }

    .data-view-container {
        flex-direction: column;
    }

    #avatar-space img {
        width: 24vw;
    }
}
