#flexbox-picture {
    position: relative;
    width: 200px;
    height: 200px;

    background-color: white;
    border: 1px solid black;
    overflow: hidden;
}

.svg-item {
    position: absolute;
    z-index: 1;
    width: 50px;
    height: 50px;
    transition: 1s;
    pointer-events: none;
}

#letter-m {
    /*offset-path: path('M20 20 Q 200 50 100 100');*/
}

#letter-s {
    /*offset-path: path('M180 180 Q 0 150 100 100');*/
}

.way {
    position: relative;
    top: 0;
    z-index: 2;
    width: 100%;
    transform: scale(0.1);
    pointer-events: none;
}

#way-m {
    /*offset-path: path('M 15 35 L 15 17.5 L 23 25 L 30 17.5 L 30 35');*/
}

#way-s {
    /*offset-path: path('M 30 15 Q 15 15 15 25 Q 15 35 30 35');*/
}

#flexbox-picture:hover #letter-s {
    /*animation: hover-s 6s forwards;*/
}

#flexbox-picture:hover #letter-m {
    /*animation: hover-m 6s forwards;*/
}

#flexbox-picture:active .way {
    animation: go 3s forwards;
}

#flexbox-picture:active .svg-letter {
    animation: rotate 3s ease 2s forwards;
}

@keyframes hover-s {
    0% {
        transform: scale(1);
        offset-distance: 0;
    }
    85% {
        transform: scale(1.6);
        offset-distance: 90%;
    }
    100% {
        transform: scale(1.8);
        offset-distance: 90%;
    }
}

@keyframes hover-m {
    0% {
        transform: scale(1) rotate(0);
        offset-distance: 0;
    }
    85% {
        transform: scale(1.6) rotate(180deg);
        offset-distance: 90%;
    }
    100% {
        transform: scale(1.8) rotate(180deg);
        offset-distance: 90%;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes go {
    0% {
        offset-distance: 0;
    }
    100% {
        offset-distance: 100%;
    }
}